.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}
.circle-node {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #b4b4b4;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle-node label {
  display: block;
  color: #777;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  justify-content: center;
}

.circle-node input {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  /* Adjust the width as needed */
  text-align: center; /* Center the text horizontally */
}

.circle-node input.nodrag {
  /* Additional styles for the nodrag class if needed */
}
.triangle-node {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 52px solid #4caf50;
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.triangle-node label {
  display: block;
  color: #777;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.triangle-node input {
  box-sizing: border-box;
  width: 80%; /* Adjust the width as needed */
  margin-top: 10px;
  text-align: center;
}

.triangle-node input.nodrag {
  /* Additional styles for the nodrag class if needed */
}
.diamond-node {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 30px 30px;
  border-color: transparent transparent transparent transparent;
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.diamond-node label {
  display: block;
  color: #777;
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.diamond-node input {
  box-sizing: border-box;
  width: 80%; /* Adjust the width as needed */
  margin-top: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

.diamond-node input.nodrag {
  /* Additional styles for the nodrag class if needed */
}
